/* = */
* {margin: 0; padding: 0; font-family: Verdana, Arial, sans-serif;}


/* Main Styles */
body 
{
  text-align:  center;
  color:       #080808;
  background:  #015280 /*- very new*/ /*#3563A5*/ /*#295CA5*/ /*#467EA2 - the very old color */;
}

body.popup
{
  background:  #fff;
}

body #ww-body-all 
{
  border:  0px solid blue; 
  width:   835px; 
  margin:  5px auto 10px auto;
  background:  url(/css/imgs/bg.gif) #fff top left repeat-y;
}

h1, h1 a, h1 a:hover, h1 a:visited, 
h2, h2 a, h2 a:hover, h2 a:visited, 
h3, h3 a, h3 a:hover, h3 a:visited
{
  font-family:  'Trebuchet MS', Arial, Verdana, Sans-Serif;
  font-weight:  bold;
}

h1, h1 a
{
  margin-bottom:    0.1em; 
  font-size:        1.50em;
  /*font-size:        1.40em;*/
  /*margin-bottom:    0.7em; */
  /*color:            #2F43C3;*/
  letter-spacing:   0.00em; 
  color:            #4A4A4A;
}

h2, h2 a
{
  margin-top:       1em; 
  margin-bottom:    0px; 
  /*margin-bottom:    0.5em; */
  letter-spacing:   0.00em; 
  font-size:        1.3em;
  /*color:            #000080;*/
  color:            #4A4A4A;
  border-right:     0px;
}

h3 
{
  margin-top:       1.0em; 
  margin-bottom:    0px; 
  letter-spacing:   0.00em; 
  font-size:        1.2em;
  /*color:            #2738A2;*/
  color:            #A00000;
}

h1 a,
h2 a,
h3 a
{
  font-size:        1em;
}

/* Japanese */
#ja 
{
  font-size:  14px;
}

#ja h2
{
  font-weight:  normal; 
  color:        #0000C8;
}


#cleaner 
{
  clear: both;
}

/* Language */
#ww-lang
{
  position:   relative; 
  width:      835px; 
  float:      right; 
  top:        19px; 
  right:      30px; 
  color:      #444444;
  border:     0px black solid;
  font-size:  10px;
}

#ww-lang A 
{
  text-decoration:  none;
  font-size:        11px;
  color:            #0000C8; 
}

#ww-lang A:hover
{
  text-decoration:  underline;
  color:            #0000FF; 
}

/* Header */
#ww-header 
{
  background:  url("/css/imgs/header.gif") no-repeat top left; 
  width:       100%; 
  height:      80px;
}

/* Gradient Background */
.gradient-bg   {background: url('/css/imgs/menu_bg.gif') #f8f8f8 bottom left repeat-x;}
.gradient-bg2  {background: url('/css/imgs/menu_bg2.gif') #f8f8f8 bottom left repeat-x;}

/******************************* CSS Menu *******************************/
#menu-header 
{
  text-align:   left;
  border:       0px solid black;
}

div#menu-header 
{
  background:       url("/css/imgs/top_menu_bg.gif") #fff top left repeat-x;
  font-size:        12px; 
  position:         relative; 
  top:              0px;
  background-size:  100%;
  vertical-align:   middle;
  padding-left:     40px;
  height:           29px;
}

div#menu-header ul 
{
  padding    : 0px;
  border     : 0px;
  margin     : 0px;
  list-style : none;
  z-index    : 2;
  padding-top: 1px;
}

div#menu-header li 
{
  float       : left;
  position    : relative;
  padding     : 0px 0.7em;
  z-index     : 2;
}

div#menu-header li ul 
{
  display : none;
  position: absolute;
  left    : 0px;
}

div#menu-header li:hover ul,
div#menu-header li.Over ul 
{
  display : block;
  position: absolute;
  top     : 2.25em;
  left    : 0px;
  z-index : 2;
  width   : 150px;
}

div#menu-header li:hover ul li,
div#menu-header li.Over ul li 
{
  background-color: #F7FBFE;
  width           : 11em;
  height          : 2em;
  z-index         : 2;
  border-right    : 1px solid #a7a7a7;
  border-left     : 1px solid #a7a7a7;
  border-bottom   : 1px solid #a7a7a7;
}

div#menu-header li:hover ul li:hover,
div#menu-header li.Over ul li.Over 
{
  background-color: #E6F2FE;
  z-index         : 2;
}

div#menu-header li ul li a 
{
  line-height:  2em;
  color:        #565656; 
  width:        100%;  
  display:      block;
}

div#menu-header a.drop-down 
{
  text-decoration: none;
}

#menu-header a:hover 
{
  color:           #000000; 
}

#menu-header a 
{
  color:            #6F6F6F; 
  text-decoration:  none;
  vertical-align:   middle;
  line-height:      2.25em;
  text-decoration:  none;
  font-weight:      bold; 
}

/*************************** End CSS Menu *******************************/

#ww-content *.content A
{
  font-weight:      normal; 
  color:            #000090; 
}

/* Center */
#ww-middle 
{
  /*border:  1px solid white; */
  width:       835px; 
  margin:      27px auto 26px auto;
  background:  url(/css/imgs/bg.gif) #fff top left repeat-y;
}

/* Content */
#ww-content 
{
  padding-left:  0px; 
  width:         740px; 
  margin-left:   0px;
  margin-right:  0px;
  text-align:    left;
  font-size:     13px;
  border:        0px solid red; 
  background:    #fff;
}

#ww-content P,UL
{
  line-height:    1.4; 
  margin-bottom:  1em;
}

#ww-content P
{
  text-align:     justify; 
}

#ww-content P
{
  text-indent:    0em; 
}

#no-margins
{
  margin-left:    0px;
}

TABLE.indent
{
  margin-left:    10px;
}

#table TABLE
{
  border-right:  1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

#table TD,TH
{
  border-left:   1px solid #bbbbbb;
  border-top:    1px solid #bbbbbb;
  font-weight:   normal;
}

#table TD.excel-cell
{
  padding:       5px 10px 5px 10px;
}

#table TD.excel-cell-title
{
  padding:       5px 15px 5px 15px;
  background:    #EFEFEF;
  text-align:    center;
}

.padding TD,TH
{
  padding: 5px 10px 5px 10px;
}

DIV.indent
{
  padding-left:   1em; 
  padding-right:  1em;
  padding-top:    0.75em; 
  padding-bottom: 0.75em;
}

DIV.hint-box
{
  border:          1px solid #bbbbbb;
  font-size:       11px;
}

DIV.hint-box-large
{
  border:          1px solid #bbbbbb;
  font-size:       12px;
}

DIV.hint-box-header
{
  padding-left:    0.6em; 
  padding-right:   0.6em;
  padding-top:     5px; 
  padding-bottom:  5px;
  border-bottom:   1px solid #bbbbbb;
  text-align:      center;
  background:      url(/css/imgs/menu_bg.gif) #f8f8f8 bottom left repeat-x;
  /*color:           #404040; */
  color:           #000000; 
}

DIV.hint-box-large-header
{
  padding-left:    1em; 
  padding-right:   1em;
  padding-top:     5px; 
  padding-bottom:  5px;
  border-bottom:   1px solid #BBBBBB;
  text-align:      center;
  background:      url(/css/imgs/menu_bg.gif) #F8F8F8 bottom left repeat-x;
  color:           #333; 
  font-weight:     bold;
}

DIV.hint-box-body
{
  padding-left:    0.7em; 
  padding-right:   0.7em;
  padding-top:     7px; 
  padding-bottom:  7px;
  text-align:      center;
  background:      #FFFFF8;
}

DIV.hint-box-large-body
{
  padding-left:    1.5em; 
  padding-right:   1.5em;
  padding-top:     1.5em; 
  padding-bottom:  1.5em;
  text-align:      left;
  background:      #FFFFF8;
}

.small-font
{
  font-size:       11px; 
}

#ww-content TD
{
  text-align:     left; 
  font-size:      13px;
}

#ww-content TH
{
  text-align:     center; 
  font-size:      13px;
}

#ww-content TR.header
{
  background-color: #F4F4F4;
}

#ww-content P.clean
{
  text-indent:    0em;
  border-right:   0px;
  padding-left:   1em; 
}

#ww-content P.formula
{
  font-size:      14px;
  text-align:     center;
}

#top-link
{
  text-align:     right; 
  margin-bottom:  -10px; 
  margin-top:     -5px;
}

#ww-content UL
{
  margin-left:    30px;
}

#ww-content B.accent
{
  color:          #2738A2;
}

#ww-content IMG.shot
{
  margin-top:     2.2em;  
  margin-bottom:  0.2em;  
}

#ww-content IMG.ex  /* example image */
{
  margin-top:     0.5em;  
  margin-bottom:  1.5em;  
}

#ww-content #ww-noblog IMG 
{
  border:         0px; 
  vertical-align: middle;
}

#field-title 
{
  margin-top:     0.7em;
}

#field-title-err
{
  margin-top:     0.5em;
  font-weight:    bold;
  color:          red;
}

#field-title-alt
{
  margin-right:   0.6em;
  text-align:     right;
}

#field-title-alt-err
{
  margin-right:   0.8em;
  text-align:     right;
  font-weight:    bold;
  color:          red;
}

#form
{
  margin-top:     1.5em;
  margin-bottom:  0.5em;
}

#form-btn
{
  margin-top:     1em;
}

#ww-content A
{
  font-weight:      normal; 
  color:            #0000B8; 
  text-decoration:  none;
}

#ww-content A:hover
{
  text-decoration:  underline;
  color:            #0000FF; 
}

#ww-content H1 A, 
#ww-content H2 A,
#ww-content H3 A
{
  font-weight: bold;
}

#ww-content H1 A:hover, 
#ww-content H2 A:hover,
#ww-content H3 A:hover
{
  text-decoration:  none;
}

/* Footer */
#ww-footer 
{
  width:        100%; 
  height:       28px; 
  text-align:   left;
  background:   transparent url("/css/imgs/footer.gif") no-repeat left top;
  font-size:    10px; 
  color:        /*#3C67AF*/#1A51AF;
}

#footer-text 
{
  float:        left;
  margin-left:  35px; 
  padding-top:  5px;
}

#footer-link
{
  float:         right;
  font-weight:   normal;
  margin-right:  35px;
  padding-top:   5px;
}

#ww-footer A
{
  letter-spacing:   0.00em; 
  color:            /*#3C67AF*/#1A51AF;
  text-decoration:  none;
}

#ww-footer A:hover
{
  text-decoration:  underline;
}

/* Forms */
#subscribe-form 
{
  background-color:  #ECECEC; 
  text-align:        center; 
  font-size:         11px;
  padding:           8px;
  margin-top:        12px;
}

#subscribe-btn
{
  background-color:  ghostwhite; 
  border:            1px solid #6D6D6D;
  margin:            5px auto 1px auto;
  font-size:         11px;
}

#email-field 
{
  font-size:  11px;
  margin:     4px auto 2px auto;
}

/***************************************** BLOG **************************************/
.narrowcolumn 
{
  float:   left;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  width:   500px;
  border:  0px solid blue;
}

.widecolumn 
{
  padding: 0px 0px 20px 0px;
  border:  0px solid blue;
}

.post 
{
  margin:      0 0 0;
  text-align:  justify;
}

.post hr 
{
  display: block;
}

.widecolumn .post 
{
  margin: 0;
}

.postmetadata 
{
  font-size:  0.85em;
}

.narrowcolumn .postmetadata 
{
  padding-top:    0px;
  padding-bottom: 2.5em;
}

.widecolumn .postmetadata 
{
  margin: 30px 0;
}

.widecolumn .smallattachment 
{
  text-align:  center;
  float:       left;
  width:       128px;
  margin:      5px 5px 5px 0px;
}

.widecolumn .attachment 
{
  text-align:  center;
  margin:      5px 0px;
}

.postmetadata 
{
  clear: left;
}

/*      Begin Headers */        
h2.pagetitle 
{
  margin-top:  20px;
  /*text-align:  center;*/
}

#sidebar h2 
{
  margin    0;
  padding:  0;
}
        
h3.comments 
{
  margin:   40px auto 20px;
}
/* End Headers */

/* Begin Images */
/*
p img 
{
  padding:    0;
  max-width:  100%;
}
*/

img.centered 
{
  display:       block;
  margin-left:   auto;
  margin-right:  auto;
}

img.alignright 
{
  padding:  4px;
  margin:   0 0 2px 7px;
  display:  inline;
}

img.alignleft 
{
  padding:  4px;
  margin:   0 7px 2px 0;
  display:  inline;
}

.alignright 
{
  float: right;
}

.alignleft 
{
  float: left
}
/* End Images */

/* Begin Lists */
.entry ol 
{
  padding:  0 0 0 35px;
  margin:   0;
}

.entry ol li 
{
  margin:   0;
  padding:  0;
}

.postmetadata ul, .postmetadata li 
{
  display:           inline;
  list-style-type:   none;
  list-style-image:  none;
}

#sidebar ul, #sidebar ul ol 
{
  margin:   0;
  padding:  0;
}

#sidebar ul li 
{
  list-style-type:   none;
  list-style-image:  none;
  margin-bottom:     15px;
}

#sidebar ul p, #sidebar ul select 
{
  margin: 5px 0 8px;
}

#sidebar ul ul, #sidebar ul ol 
{
  margin: 0px 0 0 10px;
}

#sidebar ul ul ul, #sidebar ul ol 
{
  margin: 0 0 0 10px;
}

ol li, #sidebar ul ol li 
{
  list-style: none;
}

#sidebar ul ul li, #sidebar ul ol li 
{
  margin:   3px 0 0;
  padding:  0;
}
/* End Entry Lists */

/* Begin Form Elements */
#searchform 
{
  margin:      10px auto;
  padding:     7px 3px; 
  text-align:  center;
  border:      0px solid black;
}

#sidebar #searchform #s,
#sidebar #searchform #searchsubmit 
{
  font-size: 0.9em;
}

#sidebar #searchform #s 
{
  width:    92px;
  padding:  2px;
}

#sidebar #searchsubmit 
{
  padding: 2px;
}

/* This is mainly for password protected posts, makes them look better. */
.entry form 
{ 
  text-align: center;
}

select 
{
  width: 130px;
}

#commentform input 
{
  width:    170px;
  padding:  2px;
  margin:   5px 5px 1px 0;
}

#commentform textarea 
{
  width:    100%;
  padding:  2px;
}

#commentform #submit 
{
  margin:  0;
  float:   right;
}
/* End Form Elements */


/* Begin Sidebar */
#sidebar
{
  width:             180px;
  float:             right;
  padding-left:      1.0em; 
  padding-right:     1.0em;
  padding-top:       1.0em; 
  padding-bottom:    0.5em;
  text-align:        left;
  background-color:  #F8F8F8;
  border:            1px solid #ccc;
}

#sidebar form 
{
  margin: 0;
}
/* End Sidebar */

/* Begin Calendar */
#wp-calendar 
{
  empty-cells:  show;
  margin:       10px auto 0;
  width:        155px;
}

#wp-calendar #next a 
{
  padding-right:  10px;
  text-align:     right;
}

#wp-calendar #prev a 
{
  padding-left:  10px;
  text-align:    left;
}

#wp-calendar a 
{
  display: block;
}

#wp-calendar caption 
{
  text-align:  center;
  width:       100%;
}

#wp-calendar td 
{
  padding:     3px 0;
  text-align:  center;
}

/* Doesn't work in IE */
#wp-calendar td.pad:hover 
{ 
  background-color: #fff; 
}
/* End Calendar */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps 
{
  cursor: help;
}

acronym, abbr 
{
  border-bottom: 1px dashed #999;
}

blockquote 
{
  margin:        15px 30px 0 10px;
  padding-left:  20px;
  border-left:   5px solid #ddd;
}

blockquote cite 
{
  margin: 5px 0 0;
  display: block;
}

.center 
{
  text-align: center;
}

hr 
{
  display: none;
}

a img 
{
  border: none;
}

.navigation 
{
  display:        block;
  text-align:     center;
  height:         40px;
  border:         0px solid black;
}
/* End Various Tags & Classes*/

/* Begin Typography & Colors */
.widecolumn .entry p 
{
/*  font-size: 1.05em;*/
}

.narrowcolumn .entry, .widecolumn .entry 
{
  line-height: 1.4em;
}

.widecolumn 
{
  line-height: 1.6em;
}

.narrowcolumn .postmetadata 
{
  text-align: center;
}

.alt .postmetadata 
{
  margin-top: 10px;
}

.alt 
{
  background-color:  #F8F8F8;
  border:            1px solid #ddd;
  padding:           5px 15px 5px 15px;
  margin-top:        15px;
  margin-bottom:     15px;
}

small 
{
  font-family:  Arial, Helvetica, Sans-Serif;
  font-size:    0.9em;
  line-height:  1.5em;
}

h2.pagetitle 
{
  /*font-size: 1.6em;*/
}

#sidebar h2 
{
  font-family:  Verdana, Arial, Sans-Serif;
  font-weight:  bold;
  font-size:    1em;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite 
{
  text-decoration: none;
}

.entry p a:visited 
{
  color: #b85b5a;
}

.commentlist li, #commentform input, #commentform textarea 
{
  font: 0.9em Verdana, Arial, Sans-Serif;
}

.commentlist li 
{
 /* font-weight: bold;*/
}

.commentlist cite, .commentlist cite a 
{
  font-weight:  bold;
  font-style:   normal;
  font-size:    1.1em;
}

.commentlist p 
{
  font-weight:     normal;
  line-height:     1.5em;
  text-transform:  none;
}

#commentform p 
{
  font-family: Verdana, Arial, Sans-Serif;
}

.commentmetadata 
{
  font-weight: normal;
}

#sidebar 
{
  font: 0.9em Verdana, Arial, Sans-Serif;
}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike 
{
  color: #777;
}

code 
{
  font: 1.1em 'Courier New', Courier, Fixed;
}

acronym, abbr, span.caps
{
  font-size:       0.9em;
  letter-spacing:  0.07em;
}

a, h2 a:hover, h3 a:hover 
{
  color:            #06c;
}

#wp-calendar #prev a, #wp-calendar #next a 
{
  font-size: 9pt;
}

#wp-calendar a 
{
  text-decoration: none;
}

#wp-calendar caption 
{
  font:        bold 1.3em Verdana, Arial, Sans-Serif;
  text-align:  center;
}

#wp-calendar th 
{
  font-style:      normal;
  text-transform:  capitalize;
}

#ww-blog H1
{
  margin-bottom:  0;
  margin-top:     0em;
}

#ww-blog H2
{
  margin-bottom:  0.0px;
  margin-top:     0.0em;
}

#ww-blog H3
{
  margin-bottom:  0.0px;
  margin-top:     0.5em;
/*  font-size:      1.25em;*/
}

#ww-blog H1 A,
#ww-blog H2 A,
#ww-blog H3 A
{
  color: black;
}

#ww-blog H1 A:hover,
#ww-blog H2 A:hover,
#ww-blog H3 A:hover
{
  color: #06C;
}

#ww-blog P
{
  margin-top:    1em;
  margin-bottom: 0em;
}

#sidebar P
{
  text-align:  left;
  font-size:   0.9em;
}

#ww-blog #ww-blog-home
{
  margin-bottom:  0.2em; 
  font-size:      1.5em;
}

#ww-blog #ww-blog-home A
{
  color: #06C;
}

#ww-blog #ww-blog-home A:hover
{
  text-decoration: underline;
}
/* End Typography & Colors */
