@media screen and (min-width: 553px) {
    /* Elementos primarios*/
    body {
        font-family: Roboto;
        font-size: 12px;
        color: #424242;
    }

    ul {
      list-style: none;
    }

    main {
        /*border-top: 1px solid red;*/
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }

    footer {
        /*border: 1px solid red;*/
        border-top: 1px solid #E0E0E0;
    }

    footer a {
        /*border: 1px solid blue;*/
        text-decoration: none;
        color: #333;
    }

    /* Header */
    .header {
        /*border: 1px solid blue;*/
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        transition: min-height 0.3s;
    }

    .header__title {
      font-weight: 300;
      font-size: 4em;
      color: #212121;
    }

    /* Navigation bar */
    .nav {
        /*border: 1px solid blue;*/
    }

    .nav__item {
      line-height: 24px;
      text-transform: uppercase;
    }

    .nav a {
      text-decoration: none;
      color: #616161;
    }

    .nav a:hover {
      text-decoration: underline;
      color: #212121;
    }

    /* Menu hamburguesa */
    .myNav {
        /*border: 1px solid blue;*/
        display: none;
    }

    .menu-lateral {
        /*border: 1px solid white;*/
        /*background-color: rgba(0, 0, 0, 0.7);*/
        display: none;
    }

    /* Hero */
    .hero {
        /*border: 1px solid blue;*/
        background-image: url("./images/dog.jpg");
        background-size: cover;
    }

    .hero article {
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
    }

    /* News */
    .news {
        border: 1px solid blue;
    }
    .news2 {
        border: 1px solid red;
    }
    .news__more {
      font-size: .8em;
      color: #333;
      text-decoration: none;
    }

    .news__title {
      font-weight: 300;
      border-bottom: 1px solid #E0E0E0;
      line-height: 24px;
      font-size: 16px;
    }

    .top-news__item:before {
      content: "» ";
    }

    .top-news__item:last-child {
      border-bottom: none;
    }

    .top-news__item a {
      text-decoration: none;
      color: #666;
    }

    .top-news__item a:hover,
    .top-news__item a:active {
      text-decoration: underline;
    }

    /* Sport Scores */
    .scores {
        border: 1px solid green;
    }

    .scores__table th {
      color: #fff;
      font-weight: 300;
      background-color: #78909C;
    }

    .scores__table tr:nth-child(odd) td {
      background-color: #fff;
    }

    .scores__table tr:nth-child(even) td {
      background-color: #eceff1;
    }

    .scores__table td.winner {
      font-weight: bold;
    }

    /* Weather */
    .weather {
        border: 1px solid red;
    }

    .weather__location {
      font-weight: 300;
      font-size: 1.5em;
    }

    .weather__desc {
      font-size: 1.2em;
    }

    .weather__today__temp {
      font-size: 3em;
    }

    .weather__today__deg {
      font-size: 2em;
    }

    /* Snippet */
    .snippet__title {
      font-weight: 500;
    }

    .snippet__title a {
      text-decoration: none;
      color: #666;
    }

    .snippet__title a:hover,
    .snippet__title a:active {
      text-decoration: underline;
    }


}
